<a href="https://colab.research.google.com/github/fgsantosti/topicos_especiais_desenvolvimento/blob/main/analise_dados_participantes_enem_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("PARTICIPANTES_2024.csv", sep = ";", encoding = "ISO-8859-1")

In [3]:
df1.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ENSINO,...,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023
0,210062064233,2024,5,F,1,1,1,1,3,NaN,...,A,B,B,B,D,A,B,B,E,A
1,210062064234,2024,11,F,1,1,1,1,10,NaN,...,A,A,A,A,B,A,B,A,C,A
2,210062064235,2024,11,F,1,1,1,1,9,NaN,...,A,B,B,B,D,B,B,A,D,A
3,210062064236,2024,3,F,1,3,1,2,0,1.0,...,A,B,A,A,A,A,B,A,D,A
4,210062064237,2024,16,M,3,1,1,1,18,NaN,...,A,A,A,A,B,A,B,A,B,A

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

In [5]:
quantidade_raca = df1["TP_COR_RACA"]

In [7]:
#Quantidade de pessoas por raça
quantidade_raca.value_counts()

TP_COR_RACA
3    51459
1    47784
2    14847
4     1694
0     1388
5      829
Name: count, dtype: int64

In [12]:
#Quantidade de treineiros
treineiros = df1["IN_TREINEIRO"]
print(treineiros.count())

118001

In [11]:
treineiros.value_counts()

IN_TREINEIRO
0    97252
1    20749
Name: count, dtype: int64

In [14]:
#Quantidade por sexo
sexo = df1["TP_SEXO"]
sexo.value_counts()

TP_SEXO
F    73363
M    44638
Name: count, dtype: int64

In [15]:
#A quantidade por faixa etaria
faixa_etaria = df1["TP_FAIXA_ETARIA"]
faixa_etaria.value_counts()

TP_FAIXA_ETARIA
3     29037
2     23320
4     12716
1     11663
5      7563
11     6548
6      4911
7      3759
12     3723
8      2919
13     2690
9      2436
10     2054
14     1968
15     1228
16      759
17      408
18      192
19       74
20       33
Name: count, dtype: int64

In [18]:
#Quantidade de participantes por estado
estado = df1["SG_UF_PROVA"]
estado.value_counts()

SG_UF_PROVA
SP    16839
BA    10808
MG    10413
RS     8400
RJ     7850
CE     7134
PA     6861
PE     6513
MA     4768
PR     4658
GO     3950
PB     3645
PI     2944
RN     2792
AM     2716
AL     2468
SC     2451
SE     2054
ES     2007
DF     1806
MT     1801
MS     1347
RO     1000
TO      900
AP      813
AC      705
RR      358
Name: count, dtype: int64

In [19]:
#Quantidade de alunos que fizeram a prova no município de Corrente
municipios = df1["NO_MUNICIPIO_PROVA"]
municipio_corrente = municipios[municipios == "Corrente"].count()
print(municipio_corrente)

75