<a href="https://colab.research.google.com/github/fgsantosti/topicos_especiais_desenvolvimento/blob/main/analise_dados_loto_facil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Microdados da Educação Básica 2024

In [ ]:
loto_df = pd.read_csv("/content/loto_facil_asloterias_ate_concurso_3535_sorteio.csv")
display(loto_df.head())

In [ ]:
df1 = pd.read_csv("microdados_ed_basica_2024.csv", sep = ";", encoding = "ISO-8859-1")

/tmp/ipython-input-207501938.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("microdados_ed_basica_2024.csv", sep = ";", encoding = "ISO-8859-1")

In [ ]:
df1.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_REGIAO_GEOG_INTERM,CO_REGIAO_GEOG_INTERM,...,QT_TUR_BAS_D,QT_TUR_BAS_N,QT_TUR_BAS_EAD,QT_TUR_INF_INT,QT_TUR_INF_CRE_INT,QT_TUR_INF_PRE_INT,QT_TUR_FUND_INT,QT_TUR_FUND_AI_INT,QT_TUR_FUND_AF_INT,QT_TUR_MED_INT
0,2024,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Ji-Paraná,1102,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Ji-Paraná,1102,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Ji-Paraná,1102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Ji-Paraná,1102,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024,Norte,1,Rondônia,RO,11,Alta Floresta D'Oeste,1100015,Ji-Paraná,1102,...,35.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#quantidade de linha e colunas
df1.shape

(215545, 426)

In [ ]:
#dados = df1.dropna()

In [ ]:
escolas_pi = df1[df1["SG_UF"] == 'PI']

In [ ]:
escolas_pi.shape

(5632, 426)

In [ ]:
escolas_correte = escolas_pi[escolas_pi["NO_MUNICIPIO"] == 'Corrente']

In [ ]:
escolas_correte.shape

(42, 426)

In [ ]:
print(escolas_correte)

       NU_ANO_CENSO NO_REGIAO  CO_REGIAO  NO_UF SG_UF  CO_UF NO_MUNICIPIO  \
40240          2024  Nordeste          2  Piauí    PI     22     Corrente
40241          2024  Nordeste          2  Piauí    PI     22     Corrente
40242          2024  Nordeste          2  Piauí    PI     22     Corrente
40243          2024  Nordeste          2  Piauí    PI     22     Corrente
40244          2024  Nordeste          2  Piauí    PI     22     Corrente
40245          2024  Nordeste          2  Piauí    PI     22     Corrente
40246          2024  Nordeste          2  Piauí    PI     22     Corrente
40247          2024  Nordeste          2  Piauí    PI     22     Corrente
40248          2024  Nordeste          2  Piauí    PI     22     Corrente
40249          2024  Nordeste          2  Piauí    PI     22     Corrente
40250          2024  Nordeste          2  Piauí    PI     22     Corrente
40251          2024  Nordeste          2  Piauí    PI     22     Corrente
40252          2024  Nordeste          2  Piauí    PI     22     Corrente
40253          2024  Nordeste          2  Piauí    PI     22     Corrente
40254          2024  Nordeste          2  Piauí    PI     22     Corrente
40255          2024  Nordeste          2  Piauí    PI     22     Corrente
40256          2024  Nordeste          2  Piauí    PI     22     Corrente
40257          2024  Nordeste          2  Piauí    PI     22     Corrente
40258          2024  Nordeste          2  Piauí    PI     22     Corrente
40259          2024  Nordeste          2  Piauí    PI     22     Corrente
40260          2024  Nordeste          2  Piauí    PI     22     Corrente
40261          2024  Nordeste          2  Piauí    PI     22     Corrente
40262          2024  Nordeste          2  Piauí    PI     22     Corrente
40263          2024  Nordeste          2  Piauí    PI     22     Corrente
40264          2024  Nordeste          2  Piauí    PI     22     Corrente
40265          2024  Nordeste          2  Piauí    PI     22     Corrente
40266          2024  Nordeste          2  Piauí    PI     22     Corrente
40267          2024  Nordeste          2  Piauí    PI     22     Corrente
40268          2024  Nordeste          2  Piauí    PI     22     Corrente
40269          2024  Nordeste          2  Piauí    PI     22     Corrente
40270          2024  Nordeste          2  Piauí    PI     22     Corrente
40271          2024  Nordeste          2  Piauí    PI     22     Corrente
40272          2024  Nordeste          2  Piauí    PI     22     Corrente
40273          2024  Nordeste          2  Piauí    PI     22     Corrente
40274          2024  Nordeste          2  Piauí    PI     22     Corrente
40275          2024  Nordeste          2  Piauí    PI     22     Corrente
40276          2024  Nordeste          2  Piauí    PI     22     Corrente
40277          2024  Nordeste          2  Piauí    PI     22     Corrente
40278          2024  Nordeste          2  Piauí    PI     22     Corrente
40279          2024  Nordeste          2  Piauí    PI     22     Corrente
40280          2024  Nordeste          2  Piauí    PI     22     Corrente
40281          2024  Nordeste          2  Piauí    PI     22     Corrente

       CO_MUNICIPIO NO_REGIAO_GEOG_INTERM  CO_REGIAO_GEOG_INTERM  ...  \
40240       2202901  Corrente - Bom Jesus                   2205  ...
40241       2202901  Corrente - Bom Jesus                   2205  ...
40242       2202901  Corrente - Bom Jesus                   2205  ...
40243       2202901  Corrente - Bom Jesus                   2205  ...
40244       2202901  Corrente - Bom Jesus                   2205  ...
40245       2202901  Corrente - Bom Jesus                   2205  ...
40246       2202901  Corrente - Bom Jesus                   2205  ...
40247       2202901  Corrente - Bom Jesus                   2205  ...
40248       2202901  Corrente - Bom Jesus                   2205  ...
40249       2202901  Corrente - Bom Jesus                   2205  ...
40250       2202901  Corrente - Bom Jesus                   2205  ...
40251       2202901  Corrente - Bom Jesus                   2205  ...
40252       2202901  Corrente - Bom Jesus                   2205  ...
40253       2202901  Corrente - Bom Jesus                   2205  ...
40254       2202901  Corrente - Bom Jesus                   2205  ...
40255       2202901  Corrente - Bom Jesus                   2205  ...
40256       2202901  Corrente - Bom Jesus                   2205  ...
40257       2202901  Corrente - Bom Jesus                   2205  ...
40258       2202901  Corrente - Bom Jesus                   2205  ...
40259       2202901  Corrente - Bom Jesus                   2205  ...
40260       2202901  Corrente - Bom Jesus                   2205  ...
40261       2202901  Corrente - Bom Jesus                   2205  ...
40262       2202901  Corrente - Bom Jesus                   2205  ...
40263       2202901  Corrente - Bom Jesus                   2205  ...
40264       2202901  Corrente - Bom Jesus                   2205  ...
40265       2202901  Corrente - Bom Jesus                   2205  ...
40266       2202901  Corrente - Bom Jesus                   2205  ...
40267       2202901  Corrente - Bom Jesus                   2205  ...
40268       2202901  Corrente - Bom Jesus                   2205  ...
40269       2202901  Corrente - Bom Jesus                   2205  ...
40270       2202901  Corrente - Bom Jesus                   2205  ...
40271       2202901  Corrente - Bom Jesus                   2205  ...
40272       2202901  Corrente - Bom Jesus                   2205  ...
40273       2202901  Corrente - Bom Jesus                   2205  ...
40274       2202901  Corrente - Bom Jesus                   2205  ...
40275       2202901  Corrente - Bom Jesus                   2205  ...
40276       2202901  Corrente - Bom Jesus                   2205  ...
40277       2202901  Corrente - Bom Jesus                   2205  ...
40278       2202901  Corrente - Bom Jesus                   2205  ...
40279       2202901  Corrente - Bom Jesus                   2205  ...
40280       2202901  Corrente - Bom Jesus                   2205  ...
40281       2202901  Corrente - Bom Jesus                   2205  ...

      QT_TUR_BAS_D  QT_TUR_BAS_N QT_TUR_BAS_EAD  QT_TUR_INF_INT  \
40240          5.0           0.0            0.0             0.0
40241         22.0           0.0            0.0             0.0
40242         12.0           0.0            0.0             0.0
40243          NaN           NaN            NaN             NaN
40244         12.0           0.0            0.0             0.0
40245          6.0           0.0            0.0             0.0
40246         11.0           0.0            0.0             0.0
40247          9.0           0.0            0.0             0.0
40248         10.0           0.0            0.0             0.0
40249         10.0           2.0            0.0             0.0
40250         11.0           0.0            0.0             0.0
40251         19.0           0.0            0.0             0.0
40252          1.0           0.0            0.0             0.0
40253         17.0           0.0            0.0             0.0
40254          4.0           1.0            0.0             0.0
40255          6.0           4.0            0.0             0.0
40256         13.0           0.0            0.0             0.0
40257         11.0           0.0            0.0             0.0
40258         12.0           0.0            0.0             0.0
40259          0.0           5.0            0.0             0.0
40260          NaN           NaN            NaN             NaN
40261          NaN           NaN            NaN             NaN
40262          8.0           2.0            0.0             0.0
40263          NaN           NaN            NaN             NaN
40264          4.0           0.0            0.0             0.0
40265          NaN           NaN            NaN             NaN
40266         12.0           0.0            0.0             0.0
40267          5.0           0.0            0.0             0.0
40268         13.0           0.0            0.0             0.0
40269         18.0           0.0            0.0             0.0
40270          NaN           NaN            NaN             NaN
40271         13.0           6.0            0.0             0.0
40272          1.0           0.0            0.0             0.0
40273         18.0           1.0            0.0             0.0
40274          8.0           6.0            0.0             0.0
40275         11.0           0.0            0.0             0.0
40276         10.0           0.0            0.0             0.0
40277         13.0           0.0            0.0            12.0
40278          7.0           0.0            0.0             7.0
40279          7.0           0.0            0.0             0.0
40280          0.0           0.0            1.0             0.0
40281         10.0           0.0            0.0             9.0

      QT_TUR_INF_CRE_INT  QT_TUR_INF_PRE_INT QT_TUR_FUND_INT  \
40240                0.0                 0.0             0.0
40241                0.0                 0.0             0.0
40242                0.0                 0.0             2.0
40243                NaN                 NaN             NaN
40244                0.0                 0.0             0.0
40245                0.0                 0.0             0.0
40246                0.0                 0.0             0.0
40247                0.0                 0.0             0.0
40248                0.0                 0.0             0.0
40249                0.0                 0.0             0.0
40250                0.0                 0.0             0.0
40251                0.0                 0.0             0.0
40252                0.0                 0.0             0.0
40253                0.0                 0.0             0.0
40254                0.0                 0.0             0.0
40255                0.0                 0.0             0.0
40256                0.0                 0.0             0.0
40257                0.0                 0.0             0.0
40258                0.0                 0.0             0.0
40259                0.0                 0.0             0.0
40260                NaN                 NaN             NaN
40261                NaN                 NaN             NaN
40262                0.0                 0.0             0.0
40263                NaN                 NaN             NaN
40264                0.0                 0.0             0.0
40265                NaN                 NaN             NaN
40266                0.0                 0.0             0.0
40267                0.0                 0.0             0.0
40268                0.0                 0.0             0.0
40269                0.0                 0.0             0.0
40270                NaN                 NaN             NaN
40271                0.0                 0.0             0.0
40272                0.0                 0.0             0.0
40273                0.0                 0.0             0.0
40274                0.0                 0.0             0.0
40275                0.0                 0.0             0.0
40276                0.0                 0.0             0.0
40277                7.0                 5.0             0.0
40278                7.0                 0.0             0.0
40279                0.0                 0.0             0.0
40280                0.0                 0.0             0.0
40281                2.0                 7.0             0.0

       QT_TUR_FUND_AI_INT QT_TUR_FUND_AF_INT  QT_TUR_MED_INT
40240                 0.0                0.0             0.0
40241                 0.0                0.0             0.0
40242                 1.0                1.0             0.0
40243                 NaN                NaN             NaN
40244                 0.0                0.0             0.0
40245                 0.0                0.0             0.0
40246                 0.0                0.0             0.0
40247                 0.0                0.0             0.0
40248                 0.0                0.0             0.0
40249                 0.0                0.0             0.0
40250                 0.0                0.0             0.0
40251                 0.0                0.0             0.0
40252                 0.0                0.0             0.0
40253                 0.0                0.0             0.0
40254                 0.0                0.0             0.0
40255                 0.0                0.0             0.0
40256                 0.0                0.0             0.0
40257                 0.0                0.0             0.0
40258                 0.0                0.0             0.0
40259                 0.0                0.0             0.0
40260                 NaN                NaN             NaN
40261                 NaN                NaN             NaN
40262                 0.0                0.0             0.0
40263                 NaN                NaN             NaN
40264                 0.0                0.0             0.0
40265                 NaN                NaN             NaN
40266                 0.0                0.0             0.0
40267                 0.0                0.0             0.0
40268                 0.0                0.0             0.0
40269                 0.0                0.0             0.0
40270                 NaN                NaN             NaN
40271                 0.0                0.0            13.0
40272                 0.0                0.0             0.0
40273                 0.0                0.0             0.0
40274                 0.0                0.0             3.0
40275                 0.0                0.0             0.0
40276                 0.0                0.0             0.0
40277                 0.0                0.0             0.0
40278                 0.0                0.0             0.0
40279                 0.0                0.0             0.0
40280                 0.0                0.0             0.0
40281                 0.0                0.0             0.0

[42 rows x 426 columns]

# Lotofácil

In [ ]:
# Carregar o arquivo CSV contendo os resultados da Lotofácil
import pandas as pd
loto_df = pd.read_csv("/content/loto_facil.csv")
display(loto_df.head())

,Concurso,Data,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6,bola 7,bola 8,bola 9,bola 10,bola 11,bola 12,bola 13,bola 14,bola 15
0,3535,10/11/2025,20,24,9,25,13,18,21,19,3,2,7,22,8,11,6
1,3534,08/11/2025,12,22,1,19,3,13,7,11,15,21,20,14,9,16,17
2,3533,07/11/2025,22,25,19,15,6,1,11,13,3,5,23,8,14,20,12
3,3532,06/11/2025,10,25,3,7,14,4,12,17,11,23,8,5,2,15,6
4,3531,05/11/2025,5,8,16,4,3,19,18,7,15,12,11,10,14,1,22

In [ ]:
#print("Colunas do DataFrame:", loto_df.columns.tolist())
#print("Primeiras linhas:")
#print(loto_df.head())

In [ ]:
# Verificar a frequência de cada número sorteado
numeros = list(range(1, 26))  # Números de 1 a 25

# Inicializar o dicionário de frequências
frequencias = {}
for numero in numeros:
    frequencias[numero] = 0

In [ ]:
# Contar a frequência de cada número
# As colunas das bolas são: 'bola 1', 'bola 2', ..., 'bola 15'
colunas_bolas = [f'bola {i}' for i in range(1, 16)]
# Contar a frequência de cada número
for index, row in loto_df.iterrows():
    # Para cada sorteio, contar os números que saíram
    for coluna in colunas_bolas:
        numero_sorteado = row[coluna]
        if numero_sorteado in frequencias:
            frequencias[numero_sorteado] += 1

In [ ]:
# Exibir as frequências
'''
print("Frequência de cada número sorteado:")
for numero, frequencia in frequencias.items():
    print(f"Número {numero}: {frequencia} vezes")
'''

In [ ]:
# Exibir as frequências ordenadas
frequencias = dict(sorted(frequencias.items(), key=lambda item: item[1], reverse=True))
print("\nFrequência de cada número sorteado (ordenado):")
for numero, frequencia in frequencias.items():
    print(f"Número {numero}: {frequencia} vezes")

Frequência de cada número sorteado (ordenado):
Número 20: 2205 vezes
Número 10: 2195 vezes
Número 25: 2192 vezes
Número 11: 2177 vezes
Número 13: 2154 vezes
Número 14: 2150 vezes
Número 24: 2148 vezes
Número 3: 2138 vezes
Número 1: 2136 vezes
Número 4: 2133 vezes
Número 12: 2129 vezes
Número 5: 2122 vezes
Número 22: 2118 vezes
Número 2: 2115 vezes
Número 9: 2111 vezes
Número 18: 2110 vezes
Número 15: 2106 vezes
Número 19: 2105 vezes
Número 21: 2099 vezes
Número 7: 2087 vezes
Número 17: 2083 vezes
Número 6: 2075 vezes
Número 23: 2066 vezes
Número 8: 2044 vezes
Número 16: 2027 vezes

In [ ]:
#Exibir os 15 números mais sorteados
print("\nOs 15 números mais sorteados:")
for i, (numero, frequencia) in enumerate(frequencias.items()):
    if i < 15:
        print(f"Número {numero}: {frequencia} vezes")
    else:
        break

Os 15 números mais sorteados:
Número 20: 2205 vezes
Número 10: 2195 vezes
Número 25: 2192 vezes
Número 11: 2177 vezes
Número 13: 2154 vezes
Número 14: 2150 vezes
Número 24: 2148 vezes
Número 3: 2138 vezes
Número 1: 2136 vezes
Número 4: 2133 vezes
Número 12: 2129 vezes
Número 5: 2122 vezes
Número 22: 2118 vezes
Número 2: 2115 vezes
Número 9: 2111 vezes

In [ ]:
#As combinacoes mais frequentes
loto_df['combinacao'] = loto_df[colunas_bolas].apply(lambda row: '-'.join(map(str, sorted(row))), axis=1)
combinacoes_frequentes = loto_df['combinacao'].value_counts().head(10)
print("\nAs 10 combinações mais frequentes:")
for combinacao, frequencia in combinacoes_frequentes.items():
    print(f"Combinação {combinacao}: {frequencia} vezes")

As 10 combinações mais frequentes:
Combinação 2-3-5-6-9-10-11-13-14-16-18-20-23-24-25: 1 vezes
Combinação 2-3-6-7-8-9-11-13-18-19-20-21-22-24-25: 1 vezes
Combinação 1-3-7-9-11-12-13-14-15-16-17-19-20-21-22: 1 vezes
Combinação 1-3-5-6-8-11-12-13-14-15-19-20-22-23-25: 1 vezes
Combinação 2-3-4-5-6-7-8-10-11-12-14-15-17-23-25: 1 vezes
Combinação 1-3-4-5-7-8-10-11-12-14-15-16-18-19-22: 1 vezes
Combinação 1-2-3-5-7-11-12-13-15-16-20-22-23-24-25: 1 vezes
Combinação 1-7-8-10-11-12-14-15-16-17-18-19-20-22-24: 1 vezes
Combinação 1-3-5-6-7-9-10-16-18-19-20-22-23-24-25: 1 vezes
Combinação 2-3-4-6-7-9-13-14-15-16-17-19-20-23-24: 1 vezes